# Ignore everything
*
# Ignore binaries and executables
*.exe
*.bin
*.o
*.obj
*.so
*.dll
*.dylib
**.pem
*.pem
**.*.pem

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp

# Ignore audio and video
*.mp3
*.mp4
*.avi
*.mkv
*.wav

# Ignore databases
*.db
*.sql
*.sqlite

# Ignore archives
*.zip
*.tar
*.gz
*.bz2
*.7z
*.rar

# Ignore temp and backup files
*.tmp
*.temp
*.bak
*.backup
*~
*.swp
*.swo

# Ignore log and cache files
*.log
*.cache
cache/
log/

# Ignore private configuration files
*.key
*.cert
*.pem


# But not these files...
!.bashrc
!.vimrc
!.zshrc
!.gitconfig
!.gitignore
!.ssh/config
!.profile
!pacmanQ
!crontab.bak

# Directories
!.config/
!.vim/
!.vscode-oss/
.cargo/
#!.git/
.npm/
!.rustup/
.yarn/
.yarnrc/

!.config/**
!.vim/**
!.vscode-oss/**
!.cargo/**
#!.git/
!.npm/**
!.rustup/**
!.yarn/**
!.yarnrc/**

# Prevent accidental inclusion of sensitive or unnecessary files
.ssh/*.key
**.blob
*.log
*.tmp
*.history
cache/
cache/**
**Cache/**
**Cache/

*.pid
*.lock

# Explicitly exclude directories that should not be managed by Git
-/.cache/**
-/.local/**
-/.mozilla/**
**/Cache/**
**/Service Worker/**
**/Dry Cactus/**
-/.gnupg/**
-/node_modules/**
-/Downloads/**
.config/discord/
.config/discord/**
.vscode-oss/extensions/**
.rustup/toolchains/**
*.db
*.png
*.jpg
CachedExtensionVSIXs/**
.config/chromium/**
.config/JetBrains/**
.config/Electron/**
*.backup
.config/Code - OSS/Session Storage/**
.config/Slack/Local Storage/**
.config/Microsoft Office/**
.config/Code - OSS/User/History/**
.config/Code - OSS/Local Storage/**
.config/Code - OSS/CachedData/**
.config/Code - OSS/CachedExtensionVSIXs/**
.config/github-copilot/**
.config/Code - OSS/User/settings.json
.config/Google/AndroidStudio2023.3/studio64.vmoptions
.config/teamviewer/client.conf
.config/remmina/remmina.pref
.config/vlc/vlc-qt-interface.conf
.config/teamviewer/client.conf
